@model TechLife.CSDLMoiTruong.Model.CoSoSanXuat.CoSoSanXuatUpdateRequest
@using TechLife.CSDLMoiTruong.Common;
@{
    var loaiCayTrongs = ViewBag.LoaiCayTrongs as List<TechLife.CSDLMoiTruong.Model.LoaiCayTrong.LoaiCayTrongVm>;
}
<div class="modal-content">
    <form id="modal-form" enctype="multipart/form-data">
        <div class="modal-header">
            <h4 class="modal-title">Sửa thông tin cơ sở sản xuất</h4>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
            </button>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-md-12">
                    <div class="mb-3">
                        <label asp-for="Name" class="form-label"></label> <span class="text-danger">(*)</span>
                        <input asp-for="Name" class="form-control" autocomplete="off" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="mb-3">
                        <label asp-for="Code" class="form-label"></label>
                        <input asp-for="Code" class="form-control" autocomplete="off" />
                        <span asp-validation-for="Code" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="mb-3">
                        <label asp-for="DiaChi" class="form-label"></label>
                        <input asp-for="DiaChi" class="form-control" autocomplete="off" />
                        <span asp-validation-for="DiaChi" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="mb-3">
                        <label asp-for="DienThoai" class="form-label"></label>
                        <input asp-for="DienThoai" class="form-control" autocomplete="off" />
                        <span asp-validation-for="DienThoai" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="mb-3">
                        <label asp-for="Email" class="form-label"></label>
                        <input asp-for="Email" class="form-control" autocomplete="off" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="mb-3">
                        <label asp-for="ChuCoSo" class="form-label"></label>
                        <input asp-for="ChuCoSo" class="form-control" autocomplete="off" />
                        <span asp-validation-for="ChuCoSo" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="mb-3">
                        <label asp-for="MaSoThue" class="form-label"></label>
                        <input asp-for="MaSoThue" class="form-control" autocomplete="off" />
                        <span asp-validation-for="MaSoThue" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="mb-3">
                        <label asp-for="GhiChu" class="form-label"></label>
                        <textarea asp-for="GhiChu" class="form-control" rows="3"></textarea>
                        <span asp-validation-for="GhiChu" class="text-danger"></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            @Html.AntiForgeryToken()
            <input type="hidden" asp-for="Id" />
            <button type="button" data-bs-dismiss="modal" class="btn btn-secondary">Đóng</button>
            <button type="submit" class="btn btn-primary">Lưu</button>
        </div>
    </form>
    @{
        await Html.RenderPartialAsync("_ModalScript",
        new TechLife.CSDLMoiTruong.App.Models.ModalFormRequest()
            {
                FormId = "modal-form",
                UrlSubmit = "/CoSoSanXuat/Edit",
                UrlPathLoadData = Context.Request.Query["resultUrl"],
                LoadDataId = "box-content"
            });
    }
</div>