button.paginate_button.page-link {
    color: blue;
    background-color: #fff;
    border: 2px solid #eee;
}

button.paginate_button.page-link.active {
    background-color: blue !important;
    border: 2px solid blue !important;
    color: white !important;
}

.smart-style-1 #logo-group {
    background: rgb(0 0 0 / 0%) !important;
}

#logo img {
    width: 39px !important;
}

#logo {
    margin-top: 10px !important;
}

.breadcrumb > li {
    display: inline-block;
}

.modal-footer {
    background-color: #99999952;
}

.form-select {
    border-radius: 0 !important
}

#bot1-Msg1.btn-primary {
    background-color: #5a5a5a !important;
    border: 1px solid #5a5a5a !important;
}
#left-panel {
    width: 220px !important;
}
.menu-on-top #left-panel {
    width: 0;
}
.badge {
    background: rgba(0, 0, 0, .2) !important;
}

.text-overflow-td {
    max-width: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

/*.fade {
    opacity: 1 !important;
}*/

.animationFadeIn {
    animation: fadeIn 0.25s ease-in;
}


@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

/*.select2-container .select2-choice, .select2-selection {
    height: auto;
    padding: 2px 8px;
}*/

input.error {
    border-color: #f44336 !important;
}
.menu-on-top .menu-item-parent {
    max-width: 230px !important;
}
.menu-on-top aside#left-panel nav > ul > li > a {
    display: inline-block;
    text-shadow: none !important;
    font-size: 13px;
    text-decoration: none;
    line-height: 22px;
    padding: 10px 9px !important;
    height: 45px !important;
}
    .menu-on-top aside#left-panel nav > ul > li > a > i {
        display: block !important;
        margin: 1px 0 4px;
        line-height: inherit;
        text-align: center;
        font-size: 24px;
        margin-bottom: 2px;
        width: 100%;
    }
body.smart-style-6.menu-on-top aside#left-panel nav > ul > li:hover {
    background: #fff;
}

body.smart-style-6.menu-on-top aside#left-panel, body.smart-style-6.menu-on-top aside#left-panel nav > ul > li {
    border: 0;
}
.menu-on-top aside#left-panel nav ul li.active > a:before {
    content: "" !important;
}
.menu-on-top aside#left-panel nav > ul > li:hover > a {
    color: #333 !important;
    border-left: 1px solid #c7c7c7;
    border-right: 1px solid #c7c7c7;
    padding-left: 8px !important;
    padding-right: 8px !important;
}
body.smart-style-6 nav li a:after {
    content: '';
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    width: 300px;
    height: 300px;
    margin-left: -120px;
    margin-top: -150px;
    background: #455A64;
    border-radius: 100%;
    opacity: .3;
    transform: scale(0);
}
#header {
    display: block;
    height: 55px !important;
    margin: 0;
    padding: 0 13px 0 0;
    background-color: #f3f3f3;
    background-image: -moz-linear-gradient(top,#f3f3f3,#e2e2e2);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f3f3f3), to(#e2e2e2));
    background-image: -webkit-linear-gradient(top, #f3f3f3, #e2e2e2);
    background-image: -o-linear-gradient(top,#f3f3f3,#e2e2e2);
    background-image: linear-gradient(to bottom, #f3f3f3, #e2e2e2);
    background-repeat: repeat-x;
    position: relative;
    z-index: 905;
}
#header > div {
    display: inline-block;
    vertical-align: middle;
    height: 55px;
    float: left;
}
#project-context, .project-context {
    padding: 0px 15px 0 !important;
}
#project-context > :first-child, .project-context > :first-child {
    font-size: 15px !important;
    padding-top: 5px !important;
}
#project-context > :first-child, .project-context > :first-child {
    display: block;
    color: #bfbfbf;
    font-size: 10px;
    font-weight: 700;
    text-transform: uppercase;
    text-shadow: 0 0 1px #fff;
    padding-left: 0;
    text-align: left;
}
#project-context body.smart-style-6 > :first-child, body.smart-style-6 #project-selector, body.smart-style-6 .header-dropdown-list > li > .dropdown-toggle, body.smart-style-6 .project-context > :first-child, body.smart-style-6 .project-selector {
    color: #fff !important;
    text-shadow: none  !important;
}
#project-context > :first-child, .project-context > :first-child {
    display: block;
    color: #bfbfbf;
    font-size: 10px;
    font-weight: 700;
    text-transform: uppercase;
    text-shadow: 0 0 1px #fff;
    padding-left: 0;
    text-align: left;
}
#header > div {
    display: inline-block;
    vertical-align: middle;
    height: 55px;
    float: left;
}
#left-panel {
    position: absolute;
    top: 5px;
    left: 0;
    z-index: 904;
    padding-top: 49px;
}

body.smart-style-6 aside, body.smart-style-6 nav ul ul {
    background: #fff;
}

.user-login .user-panel {
    padding: 5px 5px;
    min-width: 280px;
}

.user-panel {
    position: relative;
    width: 100%;
    padding: 10px;
    overflow: hidden;
}
.pull-left.image .img-circle {
    width: 40px;
    height: 40px;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
}
.user-login .pull-left.info {
    padding: 2px;
    left: 55px;
}

.user-panel > .info {
    padding: 5px 5px 5px 15px;
    line-height: 1;
    position: absolute;
    left: 55px;
}
.user-login .pull-left.info p {
    margin-bottom: 2px;
    color: #ffe14e;
    padding-bottom: 3px;
}
.user-login .pull-left.info a {
    background: #004483ba;
    border-radius: 5px;
    padding: 1px 5px;
    margin-top: 5px;
    width: auto;
    font-size: 13px;
    color: white;
}
body a {
    text-decoration: auto !important;
}
body.smart-style-6.menu-on-top aside#left-panel, body.smart-style-6.menu-on-top aside#left-panel nav > ul > li {
    border: 0;
}

.menu-on-top aside#left-panel nav > ul > li:first-child {
    margin-left: 0;
}

.menu-on-top aside#left-panel nav > ul > li {
    position: relative;
    height: auto !important;
    padding: 0 !important;
    display: inline-block;
    float: left;
    border-right: 1px solid #222;
    border-left: 1px solid #4E4E4E;
    overflow: visible;
}
.menu-on-top .menu-item-parent {
    max-width: 230px !important;
}

.menu-on-top .menu-item-parent {
    min-width: 50px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
    font-size: 13px;
}

nav ul span.menu-item-parent {
    display: inline-block;
    margin: 0;
    padding: 0;
}
.menu-on-top #main {
    margin-top: 50px !important;
}
.menu-on-top nav ul ul, .menu-on-top nav ul ul ul {
    width: 300px !important;
}