@model TechLife.CSDLMoiTruong.App.Models.LoginRequest
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en-us" id="extr-page">
<head>
    <meta charset="utf-8">
    <title>Đăng nhập hệ thống</title>
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <!-- #CSS Links -->
    <!-- Basic Styles -->
    <link rel="stylesheet" type="text/css" media="screen" href="/admin/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" media="screen" href="/admin/css/font-awesome.min.css">

    <!-- SmartAdmin Styles : Caution! DO NOT change the order -->
    <link rel="stylesheet" type="text/css" media="screen" href="/admin/css/smartadmin-production-plugins.min.css">
    <link rel="stylesheet" type="text/css" media="screen" href="/admin/css/smartadmin-production.min.css">
    <link rel="stylesheet" type="text/css" media="screen" href="/admin/css/smartadmin-skins.min.css">

    <!-- SmartAdmin RTL Support -->
    <link rel="stylesheet" type="text/css" media="screen" href="/admin/css/smartadmin-rtl.min.css">

    <!-- We recommend you use "your_style.css" to override SmartAdmin
         specific styles this will also ensure you retrain your customization with each SmartAdmin update.
    <link rel="stylesheet" type="text/css" media="screen" href="/admin/css/your_style.css"> -->
    <!-- Demo purpose only: goes with demo.js, you can delete this css when designing your own WebApp -->
    <link rel="stylesheet" type="text/css" media="screen" href="/admin/css/demo.min.css">

    <!-- page related CSS -->
    <link rel="stylesheet" type="text/css" media="screen" href="/admin/css/lockscreen.min.css">
    <link rel="shortcut icon" href="~/img/logo.png" type="image/x-icon">
    <link rel="icon" href="~/img/logo.png" type="image/x-icon">

    <!-- #GOOGLE FONT -->
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,300,400,700">

    <!-- #APP SCREEN / ICONS -->
    <!-- Specifying a Webpage Icon for Web Clip
         Ref: https://developer.apple.com/library/ios/documentation/AppleApplications/Reference/SafariWebContent/ConfiguringWebApplications/ConfiguringWebApplications.html -->
    <link rel="apple-touch-icon" href="/admin/img/splash/sptouch-icon-iphone.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/admin/img/splash/touch-icon-ipad.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/admin/img/splash/touch-icon-iphone-retina.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/admin/img/splash/touch-icon-ipad-retina.png">

    <!-- iOS web-app metas : hides Safari UI Components and Changes Status Bar Appearance -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">

    <!-- Startup image for web apps -->
    <link rel="apple-touch-startup-image" href="/admin/img/splash/ipad-landscape.png" media="screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:landscape)">
    <link rel="apple-touch-startup-image" href="/admin/img/splash/ipad-portrait.png" media="screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:portrait)">
    <link rel="apple-touch-startup-image" href="/admin/img/splash/iphone.png" media="screen and (max-device-width: 320px)">
    <style>
        .smart-form footer {
            display: block;
            padding: 0;
            border-top: 0;
            background: #FFF;
        }

        .smart-form h1 {
            padding-bottom: 10px;
            text-align: center;
            padding-top: 10px;
        }
    </style>
</head>

<body class="animated fadeInDown">

    <div id="main" role="main">

        <!-- MAIN CONTENT -->

        <form id="form-login" asp-action="Index" asp-route-returnUrl="@Context.Request.Query["ReturnUrl"]" method="post" class="lockscreen animated flipInY smart-form client-form">
            <div class="logo">
            </div>
            <div>
                <div>
                    <h1> ĐĂNG NHẬP HỆ THỐNG</h1>

                    <section>
                        <label class="label">Tài khoản</label>
                        <label class="input">
                            <i class="icon-append fa fa-user"></i>
                            <input asp-for="UserName">
                            <b class="tooltip tooltip-top-right"><i class="fa fa-user txt-color-teal"></i> Please enter email address/username</b>
                        </label>
                    </section>

                    <section>
                        <label class="label">Mật khẩu</label>
                        <label class="input">
                            <i class="icon-append fa fa-lock"></i>
                            <input asp-for="Password">
                            <b class="tooltip tooltip-top-right"><i class="fa fa-lock txt-color-teal"></i> Enter your password</b>
                        </label>
                    </section>

                    <section>
                        <label class="checkbox">
                            <input asp-for="RememberMe">
                            <i></i>Lưu đăng nhập
                        </label>
                    </section>
                    <label class="label text-danger">@Html.ValidationSummary(false)</label>
                   
                    <footer>
                        <button type="submit" class="btn btn-primary">
                            Đăng nhập
                        </button>
                    </footer>

                    <div class="social-auth-links text-center">
                        <p>- HOẶC -</p>
                        <div class="btn-login w-100 card mt-2">
                            <a class="text-decoration-none" href="/LoginWithSSOVNeID/?returnUrl=@Context.Request.Query["ReturnUrl"]">
                                <div class="d-flex align-items-stretch">
                                    <div class="col-md-2">
                                        <img src="https://skhcn.hue.gov.vn/admin/images/ssohues.jpg" class="w-100">
                                    </div>
                                    <div class="col-md-10 d-flex align-items-center card-body py-1 text-center">
                                        <p class="w-100 m-0">
                                            Xác thực qua cổng SSO HueS
                                            <br>   <strong>sso.huecity.vn</strong>
                                        </p>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>

            </div>
         
        </form>

    </div>

    <!--================================================== -->
    <!-- PACE LOADER - turn this on if you want ajax loading to show (caution: uses lots of memory on iDevices)-->
    <script src="/admin/js/plugin/pace/pace.min.js"></script>

    <!-- Link to Google CDN's jQuery + jQueryUI; fall back to local -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script>if (!window.jQuery) { document.write('<script src="/admin/js/libs/jquery-2.1.1.min.js"><\/script>'); }</script>

    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
    <script>if (!window.jQuery.ui) { document.write('<script src="/admin/js/libs/jquery-ui-1.10.3.min.js"><\/script>'); }</script>

    <!-- IMPORTANT: APP CONFIG -->
    <script src="/admin/js/app.config.js"></script>

    <!-- JS TOUCH : include this plugin for mobile drag / drop touch events
    <script src="/admin/js/plugin/jquery-touch/jquery.ui.touch-punch.min.js"></script> -->
    <!-- BOOTSTRAP JS -->
    <script src="/admin/js/bootstrap/bootstrap.min.js"></script>

    <!-- JQUERY VALIDATE -->
    <script src="/admin/js/plugin/jquery-validate/jquery.validate.min.js"></script>

    <!-- JQUERY MASKED INPUT -->
    <script src="/admin/js/plugin/masked-input/jquery.maskedinput.min.js"></script>

    <!--[if IE 8]>

        <h1>Your browser is out of date, please update your browser by going to www.microsoft.com/download</h1>

    <![endif]-->
    <!-- MAIN APP JS FILE -->
    <script src="/admin/js/app.min.js"></script>

    <script type="text/javascript">
        runAllForms();


    </script>

</body>
</html>
